*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body{
    color: black;
    background-color: rgb(233, 237, 240);
}
.imglogo{
    height: 60px;
    width: 100px;
}
.cmenu{
    display: flex;
    gap: 2rem;
}
#shoppingcart{
    color: black;
}
#menu{
    display: none;
    color: black;
}
#shoppingcart:hover{
    transform: scale(1.2);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 6%;
    background-color:rgba(198, 201, 204, 0.7);
    border-bottom: 1px solid #9e9a9a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
nav .Navbar li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1rem;
}

nav .Navbar  a{   
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(14, 13, 13);
}

nav .Navbar a:hover, nav .Navbar a.active{
    font-weight: bold;
    color: rgb(228, 223, 223);
    background-color: rgb(102, 94, 94);
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
}
.shoppingcart{
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 30rem;
    padding:0 1.5rem;
    background-color:rgba(198, 201, 204, 0.9);
    transition: 1s;
}
.shoppingcart img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
.shoppingcart .cartproduct {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
    position: relative;
  }
.shoppingcart.active{
    right: 0;
}
.shoppingcart h3{
    font-size: 1.25rem;
    font-weight: 500;
}
.shoppingcart .price{
    font-size: 1rem;
    font-weight: 400;
}
.shoppingcart .trash{
    color: black;
}
.shoppingcart .trash:hover{
    transform: scale(1.1);
}
.shoppingcart .totalprice{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.AboutUs{
    padding:  11rem 7% 1.4rem;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3em;
}
.AboutUs h2 {
    color: rgb(78, 76, 76);
    padding-bottom: 1rem;
    font-size: 2em;
}
.contentABoutUs{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.imageAboutus img{
    width: 400px;
    height: 450px;
}
.contentImage{
    text-align: justify;
    padding: 0 1rem;
}
 .contentImage p{
    color:rgb(48, 44, 44);
    font-size: 0.9em;
    font-weight: 300;
    line-height: 2em;
}
.contentImage p span{
    font-weight: 500;
    font-size: 1.15em;
    color: #524d4d;
}
.founders{
    margin-bottom: 2em;
}
 .founders h2{
    color:rgb(78, 76, 76) ;
    font-size: 2em;
    margin-top: 4em;
    margin-bottom: 1em;
}
 .founders .content {
    display: flex;
    justify-content: center;
    gap: 4em;
    flex-wrap: wrap;
}
.card{
    height: 400px;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}
.imageContent{
    height: 400px;
    width: 300px;
}
  .cardbody {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    background-color: rgba(211, 204, 204, 0.6);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }
  .cardbody h4{
    font-size: 1.25em;
    font-weight: 400;
  }  
  .cardbody h6{
    font-size: 0.75em;
    font-weight: 300;
  }
  .iconSosmed{
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin-top: 1rem;
  }
  .iconSosmed .instagram:hover{
    transform: scale(1.3);
    transition: 0.3s;
  }
  .iconSosmed .linkedin:hover{
    transform: scale(1.3);
    transition: 0.3s;
  }
  .card:hover .cardbody {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
  }
  
  .card:hover .imageContent {
    filter: blur(5px);
  }
  .instagram{
    color: black;

  }
  .linkedin{
    color: black;
  }
  footer{
    padding: 1em;
    background-color:rgb(198, 201, 204 );
    margin-top: 1em;
    text-align: center;
    color:  #333;
    font-size: 1.25rem;
    font-weight: 500;
  }
@media screen and (max-width: 1366px){
    html{
        font-size: 80%;
    }
    .imageAboutus img{
        width: 400px;
        height: 400px;
    }

}
@media screen and (max-width: 1200px){
    html{
        font-size: 70%;
    }
    .imageAboutus img{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 768px){
    html{
        font-size: 70%;
    }
    #menu{
        display: block;
    }
    #menu:hover{
        transform: scale(1.2);
    }
    nav .Navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(198, 201, 204, 0.9);
        width: 20rem;
        height: 100vh;
        transition: 0.5s;
    }
    nav .Navbar.active{
        right: 0;
    }
    nav .Navbar a{
        color: black;
        display: block;
        margin: 1.75rem;
        padding: 0.5rem;
    }
    .AboutUs .contentABoutUs{
        flex-wrap: wrap;
    }
    .imageAboutus img{
        width: 350px;
        height: 250px;
    }
}
@media screen and (max-width: 450px){
    html{
        font-size: 50%;
    }
    #menu{
        display: block;
    }
    #menu:hover{
        transform: scale(1.2);
    }
    nav .Navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(198, 201, 204, 0.9);
        width: 20rem;
        height: 100vh;
    }
    nav .Navbar.active{
        right: 0;
    }
    nav .Navbar a{
        color: black;
        display: block;
        margin: 1.75rem;
        padding: 0.5rem;
    }
    .AboutUs .contentABoutUs{
        flex-wrap: wrap;
    }
    .imageAboutus img{
        width: 300px;
        height: 200px;
    }
}
@media screen and (max-width: 280px){
    html{
        font-size: 40%;
    }
    .imageAboutus img{
        width: 100px;
        height: 150px;
    }
    .imageContent{
        height: 300px;
        width: 200px;
    }
    .card{
        width: 200px;
        height: 300px;
    }
}
