*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
body{
    color: black;
    background-color: rgb(233, 237, 240);
}
.imglogo{
    height: 60px;
    width: 100px;
}
.cmenu{
    display: flex;
    gap: 2rem;
}
#shoppingcart{
    color: black;
}
#menu{
    display: none;
    color: black;
}
#shoppingcart:hover{
    transform: scale(1.2);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 6%;
    background-color:rgba(198, 201, 204, 0.7);
    border-bottom: 1px solid #9e9a9a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
}
nav .Navbar li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1rem;
}

nav .Navbar  a{   
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(14, 13, 13);
}

nav .Navbar a:hover, nav .Navbar a.active{
    font-weight: bold;
    color: rgb(228, 223, 223);
    background-color: rgb(102, 94, 94);
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
}
.shoppingcart{
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 30rem;
    padding:0 1.5rem;
    background-color:rgba(198, 201, 204, 0.9);
    transition: 1s;
}
.shoppingcart img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
.shoppingcart .cartproduct {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
    position: relative;
  }
.shoppingcart.active{
    right: 0;
}

.shoppingcart h3{
    font-size: 1.25rem;
    font-weight: 500;
}
.shoppingcart .price{
    font-size: 1rem;
    font-weight: 400;
}
.shoppingcart .trash{
    color: black;
}
.shoppingcart .trash:hover{
    transform: scale(1.1);
}
.shoppingcart .totalprice{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.contactus{
    padding:  11rem 7% 1.4rem;
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    margin-top: 4rem;
}
.leftsidecontact{
    max-width: 600px;
}
.leftsidecontact h2{
    text-align: center;
    color:rgb(78, 76, 76) ;
    font-size: 2.5rem;
    margin-bottom: 1em;
}
.leftsidecontact p{
    margin-bottom: 2rem;
    text-align: center;
}
.leftsidecontact h4{
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(78, 76, 76) ;
}
.leftsidecontact .icon{
   display: flex;
   justify-content: center;
   gap: 2rem;
}
#facebook, #instagram, #twitter{
    color: black;
}
.leftsidecontact #facebook:hover{
    transform: scale(1.3);
    transition: 0.3s;
}
.leftsidecontact #instagram:hover{
    transform: scale(1.3);
    transition: 0.3s;
}
.leftsidecontact #twitter:hover{
    transform: scale(1.3);
    transition: 0.3s;
}

.form {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"],
  .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 1em;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #008CBA;
  }
  
  .form .error-message {
    color: red;
    display: none;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }
  
  .form textarea {
    resize: vertical;
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    max-height: 400px;
  }
  .ourlocation{
    max-width: 600px;
  }
  .ourlocation h2{
    text-align: center;
    color:rgb(78, 76, 76) ;
    font-size: 2.5em;
    margin-bottom: 1em;
}
.ourlocation p{
    margin-bottom: 2rem;
    text-align: center;
}
  .location{
    padding:  6rem 7% 1.4rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }
  .location h2{
    text-align: center;
    color:rgb(78, 76, 76) ;
    font-size: 2.5rem;
    margin-bottom: 1em;
  }
  .location iframe{
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  footer{
    padding: 1em;
    background-color:rgb(198, 201, 204 );
    margin-top: 1em;
    text-align: center;
    color:  #333;
    font-size: 1.25rem;
    font-weight: 500;
  }

@media screen and (max-width: 1366px){
    html{
        font-size: 80%;
    }
    .form{
        width: 400px;
    }
    .location iframe{
        width: 400px;
    }

}
@media screen and (max-width: 1300px){
    html{
        font-size: 60%;
    }
    .form{
        width: 350px;
    }
    .location iframe{
        width: 350px;
    }
}
@media screen and (max-width: 1000px){
    html{
        font-size: 60%;
    }
    .form{
        width: 300px;
    }
    .location iframe{
        width: 300px;
    }
}
@media screen and (max-width: 978px){
    html{
        font-size: 50%;
    }
    .form{
        width: 250px;
    }
    .location iframe{
        width: 250px;
    }
}
/* @media screen and (width: 912px){
    footer{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
@media screen and (max-width: 820px){
    html{
        font-size: 50%;
    }
    .form{
        width: 210px;
    }
    .location iframe{
        width: 210px;
    }
}
@media screen and (width: 820px){
    footer{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
} */
@media screen and (max-width: 912px){
    html{
        font-size: 60%;
    }
    #menu{
        display: block;
    }
    #menu:hover{
        transform: scale(1.2);
    }
    nav .Navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(198, 201, 204, 0.7);
        width: 20rem;
        height: 100vh;
        transition: 0.5s;
    }
    nav .Navbar.active{
        right: 0;
    }
    nav .Navbar a{
        color: black;
        display: block;
        margin: 1.75rem;
        padding: 0.5rem;
    }
    .contactus{
        justify-content: center;
        flex-wrap: wrap;
    }
    .form{
        width: 300px;
    }
    .location{
        justify-content: center;
        flex-wrap: wrap;
    }
    .location iframe{
        width: 300px;
    }
}
@media screen and (max-width: 450px){
    html{
        font-size: 50%;
    }
    #menu{
        display: block;
    }
    #menu:hover{
        transform: scale(1.2);
    }
    nav .Navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(198, 201, 204, 0.7);
        width: 20rem;
        height: 100vh;
    }
    nav .Navbar.active{
        right: 0;
    }
    nav .Navbar a{
        color: black;
        display: block;
        margin: 1.75rem;
        padding: 0.5rem;
    }
    .contactus{
        flex-wrap: wrap;
    }
    .form{
        width: 250px;
    }
    .location{
        flex-wrap: wrap;
    }
    .location iframe{
        width: 250px;
    }
}