*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
body{
    color: black;
    min-height: 1700px;
    background-color: rgb(233, 237, 240);
}
nav .logo{
    font-size: 2rem;
    font-weight: 900;
}
#menu{
    display: none;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 6%;
    background-color:rgba(211, 204, 204, 0.7);
    border-bottom: 1px solid #9e9a9a;
    top: 0;
    position: sticky;
    z-index: 5000;
}
nav .Navbar li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1rem;
}

nav .Navbar  a{   
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(14, 13, 13);
}

nav .Navbar a:hover, nav .Navbar a.active{
    font-weight: bold;
    color: rgb(228, 223, 223);
    background-color: rgb(19, 18, 18);
    cursor: pointer;
}
.main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(Mainpng.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* .hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(0deg,rgba(203, 211, 216,1) 3%, rgba(255,255,255,1) 70%);
} */

.main .content{
    padding: 1.2rem 6%;
    max-width: 45rem;
}
.main .content h1{
    font-size: 4em;
    color: rgb(78, 76, 76);
    line-height: 1.4;
}
.main .content p{
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.3;
    font-weight: 300;
    color: rgb(48, 44, 44);
}
.AboutUs{
    padding: 8rem 7% 1.4rem;
}
.AboutUs{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.AboutUs .content{
    display: flex;
    justify-content: center;
    gap: 4em;
    flex-wrap: wrap;
}
.AboutUs .content .content1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}
.imageContent{
    height: 500px;
    width: 300px;
}


@media screen and (max-width: 1366px){
    html{
        font-size: 80%;
    }
}
@media screen and (max-width: 768px){
    html{
        font-size: 70%;
    }
    #menu{
        display: block;
    }
    nav .Navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(211, 204, 204);
        width: 20rem;
        height: 100vh;
        transition: 0.5s;
    }
    nav .Navbar.active{
        right: 0;
    }
    nav .Navbar a{
        color: black;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
    }
}
@media screen and (max-width: 450px){
    html{
        font-size: 50%;
    }
    #menu{
        display: block;
    }
    nav .Navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(211, 204, 204);
        width: 20rem;
        height: 100vh;
    }
    nav .Navbar.active{
        right: 0;
    }
    nav .Navbar a{
        color: black;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
    }
}